body{
  text-align: center;
}

.navbar{
 margin: 0 0 5px;
}

.alink{
  color: white;
}

.navbar-brand{
  margin: 10px;
}

.brandservice{
  text-decoration: #0000ff;
  color: white;
}

.a{
  color: white;
}

.nav-item{
  position: relative;
  left: 350%;
}

.services{
  margin: auto;
  padding: 0;
}

.row{
  margin: auto;
}

.uppercontent{
  padding: 10% 0;
}

.uservice{
  padding: 5% 3px 0 3px;
  margin: auto;
}

.upperinfo{
  padding: 10% 0 0 0;
}

.upperrr{
  background-color:#8F43EE;
}

.serviceupper{
  background-color: white;
}

.uppermsg{
  color: white;
  padding: 0 0 5% 0;
}

.itemtext{
  margin:5px;
}

.btn-outline-light:hover{
  color: #8F43EE;
}

.felement{
  padding: 5% 0 10%;
}

.serviceimg{
  padding-right: 8px;
  border-radius: 100px;
  max-width: 27%;
  height: auto;
}

.letter{
  color: black;
  padding: 11px;
  float: right;
 margin: 0;
position: relative;
right: 15%;
}

.item{
  padding: 3%;
  
}

.fa-solid{
  color: white;
}

.fa-solid:hover{
  color: #8F43EE;
}
.serviceitem{
  color: white;
}

#pictures {
  background-image: url("https://img.freepik.com/premium-vector/pink-purple-triangles-wallpaper_23-2148384587.jpg?w=740");
  background-size: 1349px 724.984px;
  background-repeat: no-repeat;
}

.p{
  text-align: justify;
  margin: auto;
  padding-top: 5px;
}

.importimg{
  max-width: 15%;
  height: auto;
  padding-bottom: 10px;
}

.div1{
  padding-top: 2%;
  padding-bottom: 2%;
  color: red;
  background-color: whitesmoke;
  border: white;
  width: 700px;
  margin: auto;
}

.div2{
  border-style: outset;
  background-color:white;
  border-color: red;
  width: 650px;
  margin: auto;
  padding-top: 2%;
}

.connectbtn{
  margin: 2%;
}

.connect{
  padding-top: 10%;
}

@media (max-width: 1028px ) {

  .color{
    max-width: 50%;
    background-color: white;
    box-shadow: 3px 3px gray;
    border-radius: 15px;
    text-align: center;
    margin:auto;
  }
  
  .service{
    padding: 5% 0 15px 0;
    margin: 5%;
  }

  .serviceimg{
    padding-right: 5px;
    border-radius: 100px;
    max-width: 18%;
    height: auto;
  }

  .letter{
    color: black;
    padding: 20px;
    float: right;
   margin: auto;
  position: relative;
  right: 27%;
  }
  
  .upperinfo{
    padding: 25% 0 0 0;
  }

  #pictures {
    background-image: url("https://img.freepik.com/premium-vector/pink-purple-triangles-wallpaper_23-2148384587.jpg?w=740");
    background-size: 1349px 1319.480px;
    background-repeat: no-repeat;
  }

  .div1{
    padding-top: 2%;
    padding-bottom: 2%;
    color: red;
    background-color: whitesmoke;
    border: white;
    width: 400px;
    margin: auto;
  }
  
  .div2{
    border-style: outset;
    background-color:white;
    border-color: red;
    width: 200px;
    margin: auto;
    padding-top: 2%;
  }

  .connect{
    margin-top: 18%;
  }

  .importimg{
    max-width: 30%;
    height: auto;
    padding-bottom: 10px;
  }
}

.servicelink{
  color: white;
}
.parallax{
  min-height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
